# Server Config
APP_NAME="Daniyal Portfolio Backend"
APP_ENV="development"
APP_HOST="0.0.0.0"
APP_PORT=8000

# Database
DATABASE_URL="sqlite:///./data/portfolio.db"

# OpenRouter API
OPENROUTER_API_KEY="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"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_MODEL="deepseek/deepseek-chat-v3-0324:free" # choose: gpt-3.5, deepseek-chat-v3-0324:free, qwen3, etc.

# Admin Secret (keep this secure!)
ADMIN_SECRET="super-secret-string-change-me"

# Email SMTP (for Contact Form)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="daniyalareeb49@gmail.com"
SMTP_PASSWORD="fpfb esfs axyb obvu"
ADMIN_EMAIL="your_email@gmail.com"
GITHUB_USERNAME=daniyalareeb

# CORS Allowed Origins
CORS_ORIGINS=["http://localhost:3000", "https://your-frontend.vercel.app"]



